.signin
  .signin__menu
    %h3.signin__menu__title ログイン
    = form_with model: @user, url: user_session_path, method: :post, local: true, class:'signin__menu__form' do |f|
      = f.email_field :email, placeholder: "メールアドレス", class: 'signin__menu__form__input'
      = f.password_field :password, placeholder: "パスワード", class: 'signin__menu__form__input' 
      = f.submit "ログイン", class: "signin__menu__form__submit"
    = link_to user_facebook_omniauth_authorize_path, class: "signin__menu__facebook" do
      = icon 'fab','facebook-f'
      %p Facebookでログイン
    = link_to user_google_oauth2_omniauth_authorize_path, class: "signin__menu__google" do
      = image_tag "google.svg", size: "18x18", alt: "google-logo"
      %p Googleでログイン
  .signin__registration
    %p アカウントをお持ちでない方は
    = link_to "こちら", menu_users_path