%section.banner
  .banner__inner
    .banner__inner__title
      %h2.banner__inner__title__main もらいもの　×　ものがたり
      .banner__inner__title__sub プレゼントでもらったものを、体験と一緒に紹介するサイト
    .banner__inner__content
      .banner__inner__content__look ものがたりを見る
      .banner__inner__content__post ものがたりを投稿する
%section.wrapper
  .wrapper__title 新着投稿
  %ul.wrapper__posts
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
    %li.wrapper__posts__post
      = image_tag "banner.jpg", class: "wrapper__posts__post__img"
      %p.wrapper__posts__post__title タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
      .wrapper__posts__post__tag
        %p タグ１
        %p タグ２
      .wrapper__posts__post__bottom
        %p.wrapper__posts__post__bottom__user ユーザー
        %p.wrapper__posts__post__bottom__date 投稿日時
  .wrapper__more
    %p.wrapper__more__text もっと見る
    = icon "fas", "angle-double-right", class: "wrapper__more__icon"