.new
  %h3.new__title 投稿ページ
  = form_with model: @post, local: true, class: "form" do |f|
    .form__category
      %p.form__category__name タイトル
      = f.text_field :title, class: "form__category__input", placeholder: "ものがたりのタイトルを入力してください"
    .form__category
      %p.form__category__name タグ
      = f.text_field :tag, class: "form__category__input", id: "tag", placeholder: "商品に関するタグを入力してEnterを押してください"
      %ul.form__category__tag
    .form__category
      %p.form__category__name 日付
      = f.date_field :date, class: 'form__category__input--date'
      %p.form__category__today 今日
    .form__category
      %p.form__category__name 本文
      = f.text_area :text, class: "form__category__input--text"
    .form__category
      %p.form__category__name 画像
      = f.fields_for :images do |img|
        = img.file_field :image, name: "post[images_attributes][0][image]"
    = f.submit "投稿", class: "form__submit"