.show
  .show__content
    .show__content__upper
      %h1.show__content__upper__title=@post.date
      -if @post.user.id == current_user.id
        = link_to "編集する", edit_post_path(@post), class: "show__content__upper__edit"
        = link_to "削除する", post_path(@post), method: :delete, class: "show__content__upper__delete", "data-confirm": "この投稿を削除します。本当によろしいですか？"
    %p
    .show__content__left
      .show__content__left__images.slick
        -@post.images.each do |img|
          = image_tag img.image.url, class: "show__content__left__images__image"
      .show__content__left__select
        -if @post.images.length >= 2
          -@post.images.each_with_index do |img, i|
            = label_tag "slick-slide-control0#{i}" do
              = image_tag img.image.url, class: "show__content__left__select__image"
      - if @like.blank?
        = form_with url: post_likes_path(@post),local: true, class: "show__content__left__like unlike" do |f|
          = f.submit "submit", class: "show__content__left__like__hidden", id: "unlike"
          = f.label :unlike do
            = icon "far", "heart", class: "show__content__left__like__icon"
          %p.show__content__left__like__nubmer= @likes.length
      - else
        = form_with url: post_like_path(@post, current_user),local: true, class: "show__content__left__like like" do |f|
          = f.submit "submit", class: "show__content__left__like__hidden", id: "like"
          = f.label :like do
            = icon "fas", "heart", class: "show__content__left__like__icon"
          %p.show__content__left__like__nubmer= @likes.length
    .show__content__right
      %h2.show__content__right__title=@post.title
      %p.show__content__right__category
        カテゴリー：
        =@post.category.name
      .show__content__right__tag
        タグ：
        - @post.tags.each do |tag|
          %p.show__content__right__tag__part=tag.name
      .show__content__right__box
        = link_to @post.user.nickname,user_path(@post.user), class: "show__content__right__box__user"
        %p.show__content__right__box__gender=@post.user.gender
        %p.show__content__right__box__age=@post.age + "歳（投稿時）"
      %p.show__content__right__text
        \- ものがたり -
        %br/
        =@post.text
  .show__comments
    %p.show__comments__title コメント
    .show__comments__box
      - @comments.each do |comment|
        - if current_user.id == comment.user_id
          .show__comments__box__comment
            = image_tag comment.user.image.url, class: "show__comments__box__comment__img"
            %p.show__comments__box__comment__user=comment.user.nickname
            %p.show__comments__box__comment__text.current=comment.text
            %p.show__comments__box__comment__date= comment.created_at.strftime("%Y/%m/%d %H:%M")
        - else
          .show__comments__box__comment
            = image_tag comment.user.image.url, class: "show__comments__box__comment__img"
            %p.show__comments__box__comment__user=comment.user.nickname
            %p.show__comments__box__comment__text=comment.text
            %p.show__comments__box__comment__date= comment.created_at.strftime("%Y/%m/%d %H:%M")
    = form_with url: post_comments_path(@post), local: true, class: "show__comments__new" do |f|
      = f.text_area :text, placeholder: "コメントを入力してください（最大３００字まで）", class: "show__comments__new__input"
      = f.submit "コメントする", class: "show__comments__new__submit"