!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RedemptionStory
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.9.0/slick/slick.min.js", type: "text/javascript"}
  %body
    %header.header
      = link_to "もらいモノがたり", root_path, class: "header__title もらいモノがたり"
      .header__menu
        - unless user_signed_in?
          = link_to "ログイン", new_user_session_path
          = link_to "新規登録",  menu_users_path
        - else
          = link_to "こんにちは、"+current_user.nickname+"さん", user_path(current_user)
          = link_to "投稿する", new_post_path
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    = yield
    %footer.footer
      .footer__background